# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Local RAG Data & Models. Not uploaded to Git as the model sizes are too large.
models/llm/
models/embeddings/
!models/README.md

# Ignore local data
data/
